* {
  box-sizing: border-box;
  background-color: #D1DDEB;
  font-family: 'Oswald', sans-serif;
}

#window {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  min-width: 700px;
}

/*#window > * {
  vertical-align: top;
}*/
#sidebar {
  margin-top:5px;
  width: 35%;
  height: 100%;
  float: left;
}

#gameScreen {
  margin-top: 5px;
  width: 54%;
  float: right;
  min-width: 400px;
}

#gameboard {
  background: #D1DDEB;
  float: right;
  width: 400px;
  margin-right: 20px;
}

.card {
  background-color: #0B04AD;
  float: right;
  border: 2px solid #D1DDEB;
  width: 130px;
  height: 130px;
}

#controlPanel {
  width: 100%;
  margin: 0 auto;
  float: right;
}

#controlPanel > * {
  display: inline-block;
  opacity: .75;
}

.firstPlayerCat {
  background-image: url('images/xs.jpg');
  background: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.oppDog {
  background-image: url('images/os.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.playerDog img {
  width: 100%;
}

.playerCat img {
  width: 100%;
}

.playerDog, .playerCat {
  width: 80%;
}

.currentPlayer {
  transition: .5s;
  border: 10px solid #D900BE !important;
}

h1 {
  font-size: 3em;
  text-align: left;
  margin:5px;
}

#resetBtn, #catScore, #dogScore {
  display: inline-block;
  width: 30%;
  height: 10%;
  margin: 1%;
  border-radius: 20px;
  border: 2px solid #43526E;
  background-color: #0BBCAD;
  font-size: 2em;
}

#resetBtn:hover {
  background: #FF00D0;
}

#dogNum, #catNum {
  background-color: #0BBCAD;
}

#winnerMsg {
  display: none;
}

.card:hover {
  opacity: .5;
}

@media (min-width: 1300px) {

  #gameboard {
    width: 600px;
  }

  .card {
    width: 200px;
    height: 200px;
  }
}

@media (min-width: 900px){

#window {
  width: 70%;
}
h1 {
  margin: 5px;
}

#gameboard {
  width: 480px;
}

.card {
  width: 157px;
  height: 157px;
}
}

@media (max-width: 500px){

.playerDog, .playerCat {
  display: none;
  }

#window {
  width: 100%;
}

h1 {
  float: left;
  font-size: 1em;
}

#sidebar, #gameScreen {
  width: 100%;
  float: left;
}

#gameboard {
  float: left;
  width: 305px;
}

.card {
  width: 100px;
  height: 130px;
}
}
